body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 1000px; /* Tăng kích thước của container */
    padding: 40px; /* Tăng padding */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
label {
    font-weight: bold;
    font-size: 18px; /* Tăng kích thước chữ */
}
.form-group {
    margin-bottom: 30px; /* Tăng margin */
}
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 15px; /* Tăng padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Tăng kích thước chữ */
}
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px; /* Tăng padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Tăng kích thước chữ */
}