@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;1,200&amp;display=swap');

/* login & create new account coding */



/* *{
    margin: auto;
    
} */
body{
    padding: 0;
}

.container4{
    padding: 100px;
    margin: auto;
    width: 50%;
    text-align:center;
    float:right;
    /* border-radius: 10%; */
}
.box1{
    border-radius: 23px;
    box-shadow: 4px 3px 4px 3px gray;
}
.box1>form>.btn1{
    background:linear-gradient(to right, #ff4e00, #ec9f05);
    color: white;
    height: 30px;
    width: 40%;
    border-radius: 20px;
}
.container4>.box1>form>.btn1:hover{
    background:white;
    color: rgba(0, 0, 0, 0.911);
    border-color: orange;
}

form>#b2{
    text-decoration: none;
    border: none;
    text-decoration: none;
    
}
.container2{
    padding: 110px;
   
}
.container2>h1{
    font-size: 40px;

}
.container2>h2{
    font-size: 40px;
    color: goldenrod;
}
.container2>h3{
    font-size: 30px;
}

.container2>a{
    color: rgb(82, 82, 82);
    text-decoration: none;
    font-size: 20px;
    border: 2px solid rgb(240, 145, 37);
    background:linear-gradient(to right, #ff4e00, #ec9f05);
    padding: 7px;
    border-radius: 17px;
    transform: translate(-50%,-50%);
}
.container2>a:hover{
    background-color: #ff4e00;
    transition: 1s all ease;
    color: rgb(255, 255, 255);
}.container3{
    width: 45%;
    text-align: center;
    float: right;
    padding: 18px;
    
    
}
.container3>fieldset{
    border-radius: 30px;
    box-shadow: 4px 3px 4px 3px gray;
    padding: 24px;
    /* font-size: 10px; */
}
.container3>fieldset>form>.btn2{
    background: linear-gradient(to right, #ff4e00, #ec9f05) ;
    color: white;
    height: 30px;
    width: 40%;
    border-radius: 20px;

}
.container3>fieldset>form>.btn2:hover{
    background:white;
    color: rgba(0, 0, 0, 0.911);
    border-color: orange;

}
 /* login responsive coding here */

@media screen and (max-width: 1042px)
{
    .container4{
        width: 47%;
    }
    .container2 h1 h2 h3 p{
        width: 55%;
          
    }
}
@media screen and (max-width: 768px)
{
    .container4{
        width: 50%;
        padding: 40px;
        margin: 0;
    }
    .container2 {
        width: 50%;
        padding: 40px;
        margin: 0;
    }
}


@media screen and (max-width: 480px)
{
    .container4{
      width:100%;
      padding: 30px;
      margin: 0
      
      
    }
    .container2{
        width:80%;
        padding: 38px;
        margin: 0
        
        
    }
    
} 
/* creat new account responsive coding here */

 @media screen and (max-width: 1042px)
{
    .container3{
        width: 45%;
        padding: 10px;
    }
    .container2{
        width: 90%;
        
        
    }
}
@media screen and (max-width: 768px)
{
    .container3{
        width: 68%;
         padding: 35px; 
         height: 500px;
         /* margin:auto; */
        
    }
    .container2{
        width: 80%;
        
    }
}
@media screen and (max-width: 480px)
{
    .container3{
      width:100%;
      padding: 13px;
      
    }
    .container2{
        width:100%;
        padding: 30px
        /* font-size: 34px; */
        
        
    }
}





/* Register page coding */

.container5{
    margin: auto;
    width: 65%;
    height: auto;
    float:none;
    text-align: center;
    padding: 40px;
  
}
.container5>fieldset>form>h1{
    text-align: center;
    color: rgb(143, 143, 143);
}
.container5>fieldset{
    box-shadow: 4px 3px 4px 3px gray;
    border-radius: 30px;
    padding: 30px;
}
.container5>fieldset>form>input{
    height: 24px;
     width: 28%; 
     border-radius: 10px;
     box-shadow: 2px 1px 2px 1px gray;
}
.container5>fieldset>form>#country{
    width:18%;
    height: 24px;
    /* width: 28%;  */
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px gray;
}
.container5>fieldset>form>#gender{
    height: 24px;
    width: 34%; 
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px gray;
}
.container5>fieldset>form>#country2{
    height: 27px;
    width: 34%; 
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px gray;
}
.container5>fieldset>form>#model-name{
    height: 27px;
    width: 61%; 
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px gray;
}
.container5>fieldset>form>.rg-btn{
    background:linear-gradient(to right,#ff4e00,#ec9f05);
    color: white;
    height: 30px;
    width: 40%;
    border-radius: 20px;
    
}
.container5>fieldset>form>.rg-btn:hover{
    background:white;
    color: rgba(0, 0, 0, 0.911);
    border-color: orange;

}
@media screen and (max-width: 1024px)
{
    .container5{
        width: 70%;
        /* flex-wrap: wrap; */
    }
}
@media screen and (max-width: 768px)
{
    .container5{
        width: 75%;
        /* flex-wrap: wrap; */
    }
}
@media screen and (max-width: 480px)
{
    .container5{
        width: 100%;
        padding: 30px
        /* flex-wrap: wrap; */
    }
    #country{
        width: 50%;
        font-size: 16px
    }
}


@media screen and (max-width: 472px)
{
    .container2{
        top: 200px;
    }   
}







/* header & footer coding */




*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    background-image: linear-gradient(to right, #ff4e00, #ec9f05) ;
}

.nav{
    width: 100%;
    display: flex;
}
nav{
    width: 100%;
}

header{
    width: 100%;
}

.container .item{
    padding: 0;
}

.logo{
    display: flex;
    margin: 0;
    color: white;
    align-items: center;
}

.logo h1{
    margin: 0px 0px 0px 20px;
    padding: 0;
}

.item{
    display: flex;
    margin: 0px 0px 0px 0px;   
}

.item a{
    margin: 5px 0px 0px 0px;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
}

.item a:hover{
    background: #ffc146;
    transition: .5s;
}

.container{
    margin: 0 auto
}

.icon{
    align-items: center;
    display: flex;
}

.icon .ul{
    display: flex
}

.icon a{
    color: white;
}

.icon li{
    margin: 0px 10px 0px 0px;
    padding: 0;
}

li>.btn5{
    text-decoration: none;
}

.icon a:hover{
    background: #ffc146;
    transition: .5s;
}

.icon a{
    padding: 10px;
    border-radius: 20px;
}

li>.btn6{
    text-decoration: none;
    background-color: rgb(255, 14, 14);
    border: 1px solid rgb(255, 14, 14);
    border-radius: 15px;
    padding: 1px 5px 1px 5px;
}
li>.btn6:hover{
    color: black;
    background-color: rgb(255, 62, 62);
}

.container13{
    display: flex;
    position: relative;
    text-align: center;
    color: white;
}

.container13 img{
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.container13 .item13{
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: 200%;
    font-weight: 700;
}

.container13 .item133{
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 100%;
    font-weight: 300;
    text-align: left;
}

.footer{
    display: flex;
    position: relative;
}

.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: rgb(40, 40, 40);
    margin: 0;
}

.item14 h1{
    color: #ff4e00;
    margin: 30px 300px 20px 300px;
}

.item14 p{
    margin: 0px 300px 30px 300px;
    font-weight: 300;
    color: white;
}

.item144 h1{
    color: #ff4e00;
    margin: 30px 300px 20px 300px;
}

.item144 p{
    margin: 0px 300px 30px 300px;
    font-weight: 300;
    color: white;
}

.container14{
    display: flex;
}

.item15{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(19, 19, 19);
}

.container14 h3{
    font-weight: 300;
    color: #ff4e00;
}

.container13 .imgR{
    display: none;
}

@media screen and (max-width: 940px)
{
    
    .button{
        text-align: center;
    }
    .nav{
        flex-direction: column;
    }
    
    .container .item{
        border-bottom: 1px solid white;
        margin: 0 auto;
    }
    
    .container{
        margin: 0;
    }
    
    .logo{
        margin: 0 auto;
    }
    
    .logo h1{
        margin: 0px;
    }
    
    .icon ul{
        margin: 0 auto;
        padding: 7px 0px 7px 0px;
    }
}

@media screen and (max-width: 600px)
{
    .button{
        text-align: center;
    }

    .container .item a{
        font-size: 80%;
        margin: 0%;
        padding: 5px 0px 0px 0px;
    }
    .container .item{
        margin: 0;
        text-align: center;
        justify-content: space-around;
    }

    .logo{
        font-size: 80%;
    }

    .icon{
        font-size: 80%;
    }

}

@media screen and (max-width: 450px)
{
    .button{
        text-align: center;
    }

    .header{
        height: auto;
    }
    .container .item a{
        font-size: 60%;
    }
   
}

@media screen and (max-width: 1640px)
{
    .button{
        text-align: center;
    }

    .footer .item14 h1{
        margin: 30px 150px 20px 150px;
    }
    
    .footer .item14 p{
        margin: 30px 150px 20px 150px;
    }
    
    .item144 h1{
        margin: 30px 150px 20px 150px;
    }
    
    .item144 p{
        margin: 30px 150px 20px 150px;
    }
}

@media screen and (max-width: 1200px)
{
    .button{
        text-align: center;
    }
    .container13 .item13{
        top: 25px;
    }

    .container13 .item133{
        top: 65px;
    }   
}

@media screen and (max-width: 1040px)
{
    
    .footer .item14 h1{
        margin: 30px 100px 20px 100px;
    }
    
    .footer .item14 p{
        margin: 30px 100px 20px 100px;
    }
    
    .item144 h1{
        margin: 30px 100px 20px 100px;
    }
    
    .item144 p{
        margin: 30px 100px 20px 100px;
    }

    .container13 .item13{
        left: 100px;
        top: 20px;
    }

    .container13 .item133{
        left: 100px;
        top: 70px;
    }
}

@media screen and (max-width:800px)
{
    .footer .box{
        flex-direction: column;
    }

    .footer .item14 h1{
        margin: 30px 50px 20px 50px;
    }
    
    .footer .item14 p{
        margin: 30px 50px 20px 50px;
    }
    
    .item144 h1{
        margin: 30px 50px 20px 50px;
    }
    
    .item144 p{
        margin: 30px 50px 20px 50px;
    }

    .box{
        text-align: center;
    }

    .container13{
        display: flex;
        flex-direction: column;
    }

    .container13 .item13{
        line-height: 30px;
        text-align: center;
        left: 50px;
        right: 50px;
        top: 50px;
    }

    .container13 .item133{
        line-height: 30px;
        text-align: center;
        top: 80px;
        left: 50px;
        right: 50px;
    }

    .container13 img{
        display: none;
    }

    .container13 .imgR{
        display: block;
    }
}

@media screen and (max-width: 690px)
{
    .container13 .item13{
        font-size: 150%;
    }
    .container13 .item133{
        font-size: 80%;
    }
    
}

@media screen and (max-width: 480px)
{
    .container13 .item13{
        top: 30px;
        font-size: 150%;
    }
    .container13 .item133{
        font-size: 80%;
        margin-top: -20px;
    }
    
    
}

@media screen and (max-width: 400px)
{
    .container13 .item13{
        text-align: left;
        top: 10px;
        line-height: 30px;
        font-size: 150%;
    }
    .container13 .item133{
        text-align: left;
        font-size: 80%;
        margin-top: -40px;
    }

    .container13{
        font-size: 70%;
        top: 0px;
        margin: 0;
    }
    
}

@media screen and (max-width: 543px)
{
    .container13 .item13{
        line-height: 25px;
        font-size: 150%;
    }
    .container13 .item133{
        line-height: 20px;
        font-size: 80%;
        top: 100px;
    }
    
}

@media screen and (max-width: 425px)
{
    .footer .item14 h1{
        margin: 30px 50px 20px 50px;
    }
    
    .footer .item14 p{
        margin: 30px 50px 20px 50px;
    }
    
    .item144 h1{
        margin: 30px 50px 20px 50px;
    }
    
    .item144 p{
        margin: 30px 50px 20px 50px;
    }

    .container14 h3{
        font-size: 85%;
    }
    .box{
        text-align: left;
    }

}    