.page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-body{
    display: flex;
    justify-content: center;   
    justify-items: center; 
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(10, 10, 10);
}
.table-borderd{
    width: 100rem;
}

.table-borderd{
    display: flex;
    justify-content: center;
}
<<<<<<< HEAD
=======
.account{
    text-align: center;
    margin-left: 300px;
}
>>>>>>> b1fb4a6e5c12ac83ed273789843c246fc19170d8
