.page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-body{
    display: flex;
    justify-content: center;   
    justify-items: center; 
}
h1{
    display: flex;
    justify-content: center;
    color: azure;
}
.table-borderd{
    width: 100rem;
}

.table-borderd{
    display: flex;
    justify-content: center;
}